{% extends "base.html" %} {% block content %}
<div class="row py-2 my-2">
  <div class="col-md-9"><h2>Listagem de Usuários</h2></div>
  <div class="col-md-3">
    <a href="{% url 'create' %}" class="btn btn-primary btn-block">
      <i class="fa fa-plus"></i> Adicionar Usuário</a
    >
  </div>
</div>

<div class="table-responsive">
  <table class="table align-middle table-striped table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>E-mail</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.name|capfirst }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td class="text-center">
          <div class="btn-group" role="groupe">
            <a href="{% url 'edit' user.pk %}" class="btn btn-warning btn-block"
              ><i class="fa fa-edit"></i
            ></a>
            <a href="{% url 'delete' user.pk %}" class="btn btn-danger btn-block"
              ><i class="fa fa-trash"></i
            ></a>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" class="text-center">Não há usuários cadastrados</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
